# dependencies
/node_modules

# Next.js
/.next
/out

# Vercel
.vercel

# local environment variables / secrets
.env
.env.*
!.env.example

# local certificates and private keys
*.pem
*.key
*.p12
*.pfx

# logs and local artifacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.zip
*.wav
*.mp3
*.m4a

# TypeScript
*.tsbuildinfo
next-env.d.ts
